.image-container {
  background: linear-gradient(to bottom, #f3f3f3, #e6e6e6);
  height: 100%;
  width: 50%;
}

.image-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.album-container {
  display: flex;
  flex-direction: column;
}
.artist{
position: relative;
right: 130px;
top: -25px;
color: #fff;
}

.flex-image {
  height: auto;
  width: 90%;
  display: flex;
}
.flex-image2 {
  height: auto;
  width: 5%;
  display: flex;
  position: absolute;
  top: 35%;
  left: 31%;
  z-index: 2;
}

